:root {
    --border-size: 3px;
    --border-angle: 0turn;
    --color-primary: #5B42F3;
    --color-primary: #00bcd4;
    --clr-sec: #AF40FF;
}

* {
    box-sizing: border-box;
}

html {
  font-family: monospace;
}

body {
    background-color: aliceBlue;
}

footer {
    position: fixed;
    padding: 2px;
    user-select: text;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: lightsteelblue;
}

.main-sweeper {
    user-select: none;
}

/**                                                               Helpers */
.display-none {
    display: none;
}

.active {
    text-decoration: overline;
    color: var(--clr-sec);
    font-weight: bold;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-msg {
    font-size: 100px;
    text-shadow: 0 0 20px #fff45f;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**                                                          Board */


table {
    display: flex;
    align-items: center;
    flex-direction: column;
}


table td {
    font-weight: 700;
    text-align: center;
}

.time,
.score {
    color: red;
    padding: 3px 3px;
}

.face {
    cursor: pointer;
    padding: 10px 10px;
    box-shadow: rgb(0 0 0 / 16%) 1px 5px 6px 2px;
    text-shadow: black 0 0 1px;
}

.life {
    padding: 10px 10px;
    text-shadow: black 1px 1px 1px;
}

.best-score span {
    background-color: black;
    font-size: inherit;
}

/**                                                           Cell */
.cell[data-minesCount="1"] {
    color: blue;
}

.cell[data-minesCount="2"] {
    color: green;
}

.cell[data-minesCount="3"] {
    color: red;
}

.cell[data-minesCount="4"] {
    color: #AF40FF
}

.cell[data-minesCount="5"] {
    color: purple;
}

td.cell {
    padding: 5px 5px;
    width: 28px;
    height: 28px;
    max-height: 28px;
    max-width: 28px;
    min-height: 28px;
    min-width: 28px;
    font-weight: bold;
    font-size: 12px;
}

.face,
.cell {
    background-color: darkgray;
    border-top: 5px solid rgb(112, 112, 112);
    border-right: 5px solid rgba(18, 16, 16, 0.806);
    border-left: 5px solid white;
    border-bottom: 5px solid rgba(18, 16, 16, 0.806);
}

td.cell.marked {
    background-color: red;
    border: 2;
    border-radius: 1;
    color: red;
}

/* Cell & Face */
.clicked {
    background-color: lightslategray;
    border-top: 3px solid black;
    border-right: 3px solid white;
    border-left: 3px solid black;
    border-bottom: 3px solid white;
}

/**                                                         Buttons */
[role="button"],
button,
.btn,
.hint {
    cursor: pointer;
}

.btn-lvl {
    font-weight: light;
    text-transform: capitalize;
    padding: 1em 2em;
    background-color: transparent;
    border: transparent;
}

.btn-game {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    white-space: nowrap;
}

.btn-game span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;
}

.btn-game:hover span {
    background: none;
}

/**                                                         Hint */
.hint:hover {
    text-shadow: 0 0 10px #fff88b;
}

.hint-hover {
    text-shadow: 0 0 10px #fff88b;
}

@keyframes show-hint {
    from {
        font-size: 100px;
        opacity: 1;
        display: flex;
    }

    to {
        font-size: 400px;
        opacity: 0.03;
        display: none;
        filter: blur(10px)
    }
}

@keyframes clock {
    8.333% {
        content: '🕐';
    }

    16.666% {
        content: '🕑';
    }

    25% {
        content: '🕒';
    }

    33.333% {
        content: '🕓';
    }

    41.666% {
        content: '🕔';
    }

    50% {
        content: '🕕';
    }

    58.333% {
        content: '🕖';
    }

    66.666% {
        content: '🕗';
    }

    75% {
        content: '🕘';
    }

    83.333% {
        content: '🕙';
    }

    91.666% {
        content: '🕚';
    }
}

.emoji {
    text-align: center;
}

.clock::after {
    content: '🕛';
    animation-name: clock;
    animation-duration: 5s;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hourglass::after {
    content: '⏳';
    --emoji: '⌛️';
    animation-name: twoFrames;
    animation-duration: 1.2s;
}

@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}
/**                                                            level */


/**                                                        Responsive */
/* Tablet */
@media (min-width: 768px) {
    .cell {
        width: 30px;
        height: 30px;
        max-height: 30px;
        max-width: 30px;
        min-height: 30px;
        min-width: 30px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .cell {
        width: 35px;
        height: 35px;
        max-height: 35px;
        max-width: 35px;
        min-height: 35px;
        min-width: 35px;
    }
}