* {
    box-sizing: border-box;
}

:root {
    --color-primary: #5B42F3;
    --color-primary: #00bcd4;
    --clr-sec: #AF40FF;
}

/* html{} */

body {
    background-color: aliceBlue;
}

/** Header */
.gamer-state {
    position: absolute;
    width: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: rgb(5, 6, 45) 8px solid;
    font-size: 24px;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



footer {
    position: fixed;
    padding: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: lightsteelblue;
}

.time,
.score {
    font-size: 35px;
    color: red;
    background-color: black;
    margin: auto;
    padding: 1px 2px;
}

.face {
    cursor: pointer;
    padding: 10px 10px;
    box-shadow: rgb(0 0 0 / 16%) 1px 5px 6px 2px;
    text-shadow: black 0 0 1px;

    background-color: darkgray;
    border-top: 5px solid rgb(112, 112, 112);
    border-right: 5px solid rgba(18, 16, 16, 0.806);
    border-left: 5px solid white;
    border-bottom: 5px solid rgba(18, 16, 16, 0.806);
}

.live {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: black 1px 1px 1px;
}

/** Cell */
.cell {
    cursor: pointer;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    max-height: 35px;
    max-width: 35px;
    min-height: 35px;
    min-width: 35px;

    font-weight: bold;
    font-size: 15px;

    background-color: darkgray;
    border-top: 5px solid rgb(112, 112, 112);
    border-right: 5px solid rgba(18, 16, 16, 0.806);
    border-left: 5px solid white;
    border-bottom: 5px solid rgba(18, 16, 16, 0.806);
}

.cell[data-minesCount="1"] {color: blue;}
.cell[data-minesCount="2"] {color: green;}
.cell[data-minesCount="3"] {color: red;}
.cell[data-minesCount="4"] {color: #AF40FF}
.cell[data-minesCount="5"] {color: purple;}


.cell.marked {
    background-color: red;
    border: 2;
    border-radius: 1;
    color: red;
}

.cell::selection {
    background-color: transparent;
}

/** Cell & Face */
.clicked {
    background-color: lightslategray;
    border-top: 3px solid black;
    border-right: 3px solid white;
    border-left: 3px solid black;
    border-bottom: 3px solid white;
}

/* Buttons */
.btns-lvl,
.btns-game{
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

.btns-lvl {
    display: flex;
flex-direction: row;
bottom: 4vh;
}

.btns-game {
    display: flex;
    flex-direction: row;
    bottom: 15vh;
}


.btn {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    white-space: nowrap;
}

[role="button"] {
    cursor: pointer;
}

.btn span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    transition: 300ms;
}

.btn:hover span {
    background: none;
}

.display-none {
    display: none;
}

/** Hint */
.hint {
    cursor: pointer;
}

.hint:hover {
    text-shadow: 0 0 10px #fff88b;
}

.hint-hover {
    text-shadow: 0 0 10px #fff88b;
}

@keyframes show-hint {
    from {
        font-size: 100px;
        opacity: 1;
        display: flex;
    }

    to {
        font-size: 400px;
        opacity: 0.02;
        display: none;
        filter: blur(10px)
    }
}

/** User  Message */
.user-msg {
    font-size: 100px;
    text-shadow: 0 0 20px #fff45f;

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** Tablet */
@media (min-width: 768px) {}

/** Desktop */
@media (min-width: 1024x) {}